body{
	background: white;
	
}
.cate16{
	z-index: 0;
	background: #fffbe8;
}

.cate16 .firstcontext .menuson{
	font-size:18px;
	float:left; 
	position: relative;
	text-align: center;
	margin-top: 5%;
	width:32.8%;
	height:120px;
}
.cate16 .firstcontext .menucontext{
	background: white;
	width:70%;
	height: 60%;
	border-radius: 50%;
	position:absolute;
	left:15%;
	right: 15%;
}
.cate16 .firstcontext .menuimages{
	border-radius: 50%;
	width:90%;
	height: 90%;
	position:absolute;
	left:5%;
	right: 5%;
	top: 5%;
	bottom: 5%;

}
.cate16 .firstcontext .menucontext-image{
	z-index: 10;
	width:100%;
	position: absolute;
	left:0;
}
.cate16 .firstcontext .menutitle{
	position: absolute;
	top:65%;
	z-index:20;
	font-size: 16px;
	left: 5%;
	right: 5%;
}
.cate16 .firstmenu{
    color: #000000;
    font-size: 22px;
    padding: 5px;
    position: relative;
}
.cate16 .firstcontext{
	background:#fbf4da;
	z-index: 2;
	width: 100%;
	border: 1px solid #eeeeee;
	border-radius: 5%;
	height: auto;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}


.cate15{
	background: #f1f1f1;
}

.cate15 .menuson{
	font-size:18px;
	float:left; 
	position: relative;
	text-align: center;
	margin-top: 5%;
	width:32.8%;
	height:120px;
}

.cate15 .menucontext{
	border: 1px solid #eeeeee;
	background: white;
	width:70%;
	height: 60%;
	border-radius: 50%;
	position:absolute;
	left:15%;
	right: 15%;
}
.cate15 .menuimages{
	border-radius: 50%;
	width:90%;
	height: 90%;
	position:absolute;
	left:5%;
	right: 5%;
	top: 5%;
	bottom: 5%;

}

.cate15 .menucontext-image{
	z-index: 1;
	width:100%;
	position: absolute;
	left:0;
}
.cate15 .menutitle{
	position: absolute;
	top:70%;
	z-index:2;
	left: 5%;
	right: 5%;
}